html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body {
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    min-height: 100vh;
    color: #fff; /* text white */
}

h1, h2, h3, p, a {
    color: #fff !important;
}
body {
    background: linear-gradient(135deg, #141e30, #243b55);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, p, a {
    color: #fff !important;
}
/* Table text white */
.table td,
.table th {
    color: #fff !important;
}

/* Badge colors thoda bright */
.badge.bg-success {
    background-color: #28a745 !important;
}

.badge.bg-warning {
    background-color: #ffc107 !important;
    color: #000 !important;
}

